Actividad1/Ficheros/esquema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="operacionesBancarias">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="operacion" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="cantidad"/>
              <xs:element type="xs:string" name="numcuenta"/>
              <xs:element type="xs:string" name="propietario"/>
              <xs:element type="xs:string" name="saldo"/>
              <xs:element type="xs:string" name="tipo"/>
            </xs:sequence>
            <xs:attribute type="xs:dateTime" name="fechahora" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>